<!DOCTYPE html>
<html>
  <head>
    <title>Triangle Tracker</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'> 
  </head>
  <body>
    <div class="jumbotron">
        <h1 class="text-primary">Triangle Tacker</h1>
    </div>
     
    <form action="/result" method="post" class="form-group">
        <label for="sideOne">enter Side One</label>
        <input id="sideOne" name="sideOne" type="text" class="form-control">
        <br>
        <label for="sideTwo">enter a sideTwo</label>
        <input id="sideTwo" name="sideTwo" type="text" class="form-control">
        <br>
        <label for="sideThree">enter a sideThree</label>
        <input id="sideThree" name="sideThree" type="text" class="form-control">
        <br>
        <button type="submit">Go!</button>
    </form>
    <div id="result">
        @if (@Model == null )
        {
            <p>does not exists</p>
        }
        else
        {
            <p>exists</p>
            @Model.Type;
        }
    </div>
  </body>
</html>