<!DOCTYPE html>
<html>
  <head>
    <title>Triangle Tracker</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Triangle Tracker</h1>
    
    <p class="text-primary" >Your story @Model.sideOne, @Model.sideTwo, @Model.sideThree </p>

  </body>
</html>